* {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-flow: column;
    justify-self: center;
    justify-content: center;


    margin: auto;
    min-height: 100svh;
    min-width: 500px;
    max-width: 700px;
}

main {
    flex-grow: 1;
}

footer {
    display: flex;
    flex-flow: column;
    align-items: center;

    min-width: 100%;
    margin-bottom: 10px;

    line-height: 4px;
    font-size: 14px;
    color: #575757;

    .links {
        display: flex;
        flex-flow: row;
        margin-top: 10px;
    }

    .links a {
        padding: 4px 6px;
    }
}

hr {
    display: block;
    border: none;

    min-width: 50%;
    height: 1px;

    background-color: lightgray;
}

a {
    color: #575757;
}

.navbar {
    display: flex;
    line-height: 0;
    margin-top: 24px;

    .title {
        padding: 6px 16px;
        text-emphasis-style: initial;
        font-size: 32px;
        justify-self: flex-start;
        margin-right: auto;
    }

    .element {
        display: block;
        padding: 12px 16px;
    }
}